* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQShd_9eNgRyj-TqXj7jyZWJP4CIDG0_QgKFA&usqp=CAU);
    background-size: cover;
}

.top {
    background-image: url(https://avatars.mds.yandex.net/i?id=40fad75728b7d0cc3adab1d7e558063b72afe9ae-5299516-images-thumbs&n=13);
    background-size: cover;
    width: 100%;
    height: 250px;
}

.tt {
    font-size: 50px;
}

.tr {
    font-size: 35px;
}

.over {
    overflow-x: scroll;
}

.over::-webkit-scrollbar {
    width: 10px;
}

.over::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.over::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .25)),
            color-stop(.5, transparent), to(transparent));
}

.wer {
    border-radius: 100%;
    background-size: cover;
    width: 100%;
    height: 60px;

}

.rew {
    overflow-y: scroll;
    height: 900px;
}

.rew::-webkit-scrollbar {
    width: 10px;
}

.rew::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

.rew::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
            color-stop(.5, rgba(255, 255, 255, .25)),
            color-stop(.5, transparent), to(transparent));
}

.t {
    position: absolute;
    right: 100px;
    top: 50px;
    height: 100px;
    width: 200px;
}
.clip{
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    background: #fc0; /* Цвет фона */
    text-overflow: ellipsis; /* Добавляем многоточие */
   
}

@media(min-width:768px) {
    .ld {
        margin-left: 300px;
        margin-top: 50px;
    }
}

@media(max-width:600px) {
    .tt {
        font-size: 30px;
    }

    .tr {
        font-size: 15px;
    }

    .ti {
        margin-top: 5px;
    }
}